html,
body {
    overflow: hidden;
    background: #141a48;
    margin: 0;
    padding: 0;
}

.zantb-wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    position: absolute;
}

.zantb-wrapper .zantb-nav {
    z-index: 3;
    height: 80px;
    position: fixed;
    width: 100%;
    min-width: 1024px;
    background-repeat: no-repeat;
    background-position: 20px;
    background: rgba(0,0,0,.2);
    /* background: rgba(0,0,0,.2) url(https://img.yzcdn.cn/v2/image/youzanyun/zanui/pc/pc_shouye_logo1_v2.png) no-repeat 20px/76px 20px;
    background: #000 url(https://img.yzcdn.cn/v2/image/youzanyun/zanui/pc/pc_shouye_logo1_v2.png) no-repeat 20px/76px 20px\0; */
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    transition: all 1.2s;
}

.zantb-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 1950px;
    height: auto;
}

#canvas {
    z-index: 1;
}

#canvasbg {
    z-index: -10;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
}